@import "../../mixins.scss";

.chatSettings {
  @include dFlex(column);
  align-items: flex-start;
  gap: 2rem;

  input {
    width: 10rem;
    outline: none;
    border: 2px solid var(--mainColor);
    padding: 0 0.2rem;
  }

  .nameSettings {
    @include dFlex();

    button {
      margin-top: 0.2rem;
      background: var(--mainColor);
      color: var(--whiteColor);
      transform-origin: left;
      padding: 0.15rem 0.2rem;
    }
  }

  .enterSend {
    border: 1px solid var(--textColor);
  }
}
