@import "../../mixins.scss";

.messageSender {
  height: 30%;
  @include dFlex(column, flex-start);

  .chatSettings {
    width: 100%;
    @include dFlex(row, space-between);

    .userSettings {
      @include dFlex(row, flex-start);
      gap: 0.5rem;
      & > button {
        background: none;
        border: none;
      }
    }
  }

  & > * {
    z-index: 7;
  }

  .messageWrapper {
    --buttonSize: 7rem;

    position: relative;
    width: 100%;
    height: 100%;
    @include dFlex(row, flex-start);
    align-items: flex-end;
    overflow: hidden;

    & > button {
      @include fullContainerAbsolute();
      max-width: var(--buttonSize);
      max-height: var(--buttonSize);
      top: auto;
      right: 0;
      bottom: 0;
      left: auto;
      font-size: 1.6em;
      transition: all var(--defaultTransitionTime) linear;
      background: var(--secondaryColorDark);
      color: var(--whiteColor);
      z-index: 9;
      border: 4px solid !important;
      border-color: var(--bgColor, rgba(0, 0, 0, 0)) !important;
      border-radius: 50%;
    }

    & > textarea {
      --topBorderRadius: 10px;
      --width: calc(100% - (var(--buttonSize) / 1.2));

      position: relative;
      width: var(--width);
      max-height: 95%;
      min-height: var(--buttonSize);
      padding: 0.5rem;
      margin-left: calc((100% - var(--width)) / 2);
      resize: none;
      z-index: 7;
      outline: none;
      background: var(--mainColorDarker);
      color: var(--whiteColor);
      transition: all var(--defaultTransitionTime) linear;
      border: none;
      border-radius: 0;
      border-top-left-radius: var(--topBorderRadius);
      border-top-right-radius: var(--topBorderRadius);
    }

    @media screen and (min-width: $desktopBreakpoint) {
      margin-bottom: 2%;

      &>textarea {
        border-radius: var(--topBorderRadius);
      }
    }
  }
}
