.mainWrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  color: var(--textColor);
  background: var(--bgColor);
}

.mainTheme {
  --textColor: var(--blackColor);
  --bgColor: var(--whiteColor);
}

.darkTheme {
  --textColor: var(--whiteColor);
  --bgColor: var(--blackColor);
}
