@import "./mixins.scss";

.mainWrapper {
  --defaultTransitionTime: 300ms;

  @include fullContainerAbsolute();
  color: var(--textColor);
  background: var(--bgColor);
  transition: color var(--defaultTransitionTime) linear,
    background var(--defaultTransitionTime) linear;
  @include dFlex(column, flex-end);
  overflow: hidden;

  & > section {
    width: 100%;
    position: relative;
  }

  @media screen and (min-width: $desktopBreakpoint) {
    padding: 0 4rem;
  }
}

.lightTheme {          
  --textColor: var(--blackColor);
  --bgColor: var(--whiteColor);
}

.darkTheme {
  --textColor: var(--whiteColor);
  --bgColor: var(--blackColor);
}

