.mainWrapper {
  --defaultTransitionTime: 300ms;

  position: relative;
  width: 100vw;
  height: 100vh;
  color: var(--textColor);
  background: var(--bgColor);
  transition: color var(--defaultTransitionTime) linear,
    background var(--defaultTransitionTime) linear;
  display: flex;
  flex-direction: column;

  & > section {
    position: relative;
    border: 2px solid;
  }

  .messagesList {
    height: 65%;
    border-color: red;

    & > p {
      border: 1px solid purple;
      white-space: pre;
    }
  }

  .userWrapper {
    height: 35%;
    border-color: blue;
    display: flex;
    flex-direction: column;

    .chatSettings {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .userSettings {
        display: flex;
        gap: 0.5rem;
        & > button {
          background: none;
          border: none;
        }
      }
    }

    .messageWrapper {
      border: 2px solid orange;
      position: relative;
      height: 100%;
      display: flex;
      align-items: flex-end;

      & > button {
        --size: 4rem;

        width: var(--size);
        height: var(--size);
      }

      .textContainer {
        --bg: var(--background, none);
        position: relative;
        width: 100%;
        height: 100%;
        border: none;

        & > span {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: var(--bg);
          opacity: 0.5;
          z-index: 0;
        }

        & > textarea {
          position: relative;
          width: 100%;
          height: 100%;
          resize: none;
          z-index: 2;
          outline: none;
          background: none;
          color: var(--textColor);
        }
      }
    }
  }
}

.lightTheme {
  --textColor: var(--blackColor);
  --bgColor: var(--whiteColor);
}

.darkTheme {
  --textColor: var(--whiteColor);
  --bgColor: var(--blackColor);
}

@media screen and (min-width: 889px) {
  .userWrapper {
    padding: 0 2rem;
  }
}
