@import "../../mixins.scss";

.messagesList {
  --lineBackground: var(--bgLineColor, var(--greyColor));

  height: 65%;
  @include dFlex(column, flex-start);
  align-items: flex-start;
  border: 2px solid red;
  overflow: auto;

  & > pre {
    position: relative;
    width: 100%;

    & > p {
      position: relative;
      z-index: 2;
    }

    & > span {
      @include fullContainerAbsolute();
      background: var(--lineBackground);
      opacity: 0.3;
      z-index: 0;
    }
  }
}
